/* Global Burell Styles */

/* Page */
body {
  background: url(images/background_page.jpg) 50% 0 repeat;
}
.everything {
  width: 100%;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
#logo-ribbon-large {
  width: 178px;
  height: 175px;
  display: block;
  position: fixed;
  left: 50%;
  top: 0;
  margin-top: -4px;
  margin-left: -84px;
  text-align: left;
  text-indent: -9000px;
  z-index: 100;
  background: url(images/sprite_background.png) 0 -180px no-repeat;
}
.footer-modules {
  width: 100%;
  height: 1014px;
  margin-top: -2px;
  background: url(images/BurrellCo_ModuleGrid_R1_Open_V2_poc.png) 50% 0 repeat;
}
  .footer-modules .module-navigation {
    background: none;
    height: 175px;
    padding-top: 42px;
  }
  .footer-modules .module-navigation .tab {
    height: 88px;
  }
  .footer-modules .module-navigation:before,
  .footer-modules .module-navigation:after {
    content: "";
    background: none;
  }
#footer > div {
  display: none;
}
.clear {
  width: 0;
  height: 0;
  display: block;
  line-height: 0;
  font-size: 0;
  clear: both;
}
