/* Hero Slider */
.hero-slider {
  width: 100%;
  min-height: 528px;
  margin: 0;
  position: relative;
  overflow: hidden;
  /*
  background-color: red;
  */
  background-color: #ccc;
  z-index: 15;
}
.slider-fullsize {
  position: absolute;
  top: 0;
  left: 0;
  /* Need enough for total number of
     slides * widest supported viewport
     Since each slide is 100% width
     2500 * 10 = 25000 */
  width: 25000px;
  height: 100%;
}
.hero-slider ul {
  /* Need enough for total number of
     slides * widest supported viewport
     Since each slide is 100% width
     2500 * 10 = 25000 */
  width: 25000px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Story Slide */
.story {
  float: left;
  display: block;
  /*
  width: 1500px;
  height: 100%;
  */
  height: 524px;
  margin: 0;
  padding: 0;
}
.slider-summary .story {
  height: 100%;
  position: relative;
}
.story > ul {
  height: 100%;
}
.slider-summary > ul {
  height: 100%;
}
.slider-detail > ul {
  height: 100%;
}
.slider-detail .story {
  height: 100%;
  position: relative;
}
  .story .relative-frame {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .story .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
    .story .background.active {
      display: none;
    }
  .story .teaser {
    position: absolute;
    top: 50%;
    margin-top: -120px;
    left: 0;
    width: 100%;
    height: 238px;
    z-index: 3;
    cursor: pointer;
  }
    .story .teaser .story-detail {
      display: block;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 2;
    }
    .story .teaser .teaser-logo {
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 156px;
      height: 100%;
      margin: 0;
      padding: 0;
      margin-left: -78px;
    }
    .story .teaser .teaser-logo span {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }
      .story .teaser .teaser-logo span img {
        position: absolute;
        top: 50%;
        margin-top: -116px;
      }
    .story .teaser .teaser-text-left,
    .story .teaser .teaser-text-right,
    .story .detail .quote-left,
    .story .detail .quote-right,
    .story .detail-navigation .nav-col-left,
    .story .detail-navigation .nav-col-right {
      position: absolute;
      left: 50%;
      top: 42%;
      display: block;
      /*
      background-color: rgba(200, 200, 0, 0.3);
      */
    }
    .story .detail-navigation .nav-col-left,
    .story .detail-navigation .nav-col-right {
      top: 32%;
    }
    .story .teaser .teaser-text-left,
    .story .detail .quote-left,
    .story .detail-navigation .nav-col-left {
      right: 50%;
      left: auto;
    }
    .story .teaser .teaser-text-right {
      margin-left: 110px;
    }
    .story .detail .quote-right {
      margin-left: 90px;
    }
    .story .detail-navigation .nav-col-right {
      margin-left: 66px;
    }
      .story .teaser .teaser-text,
      .story .detail .quote,
      .story .detail-navigation .character-name {
        font-family: "silverfakeregular", Times, serif;
        font-size: 22px;
        line-height: 26px;
        color: rgb(175, 173, 158);
      }
      .story .detail-navigation .go-previous:hover .character-name,
      .story .detail-navigation .go-next:hover .character-name
      {
        color: rgb(207, 130, 96);
      }
      .story .teaser .teaser-text-left .teaser-text,
      .story .detail .quote-left .floating-text-block,
      .story .detail-navigation .nav-col-left .floating-text-block {
        float: right;
        margin-right: 90px;
      }
      .story .detail-navigation .nav-col-left .floating-text-block {
        margin-right: 35px;
      }
      .story .teaser .teaser-text-right .teaser-text,
      .story .teaser .quote-right .floating-text-block,
      .story .detail-navigation .nav-col-right .floating-text-block {
        float: left;
      }
      .story .teaser .teaser-text {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        -transition: color 0.3s;
      }
      .story .teaser:hover .teaser-text {
        color: rgb(215, 140, 104);
      }
  .story .detail {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
    .detail .banner {
      position: absolute;
      top: 82px;
      left: 0;
    }
    .detail .main-text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 370px; /*476 incl padding*/
      margin-left: -235px;
      height: 298px; /* 365 incl padding */
      margin-top: -183px;
      padding: 27px 78px 40px 28px;
      font-family: "League Gothic", sans-serif;
      color: rgb(204, 190, 174);
      background: url(images/background_hero_detail_main_text.png) 0 0 no-repeat;
    }
    .main-text .title {
      width: 380px;
      font-size: 18px;
      line-height: 22px;
      font-weight: normal;
      margin: 0;
    }
      .main-text .title .name {
        display: block;
        font-size: 82px;
        font-family: "League Gothic Condensed";
        line-height: 82px;
      }
      .main-text .title .role {
        display: block;
        font-size: 36px;
        line-height: 33px;
      }
    .main-text .description {
      font-size: 14px;
      line-height: 18px;
      margin: 9px 0;
      font-size: 18px;
      line-height: 25px;
      font-family: Arial, sans-serif;
    }
    .detail .quote {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 81px;
      color: #ccc;
      font-size: 20px;
      z-index: 3;
      margin: 0;
      padding: 0;
      background: url(images/hero_detail_trim.png) 50% 0 no-repeat;
    }
    .story .detail .quote-left,
    .story .detail .quote-right {
      top: 21%;
    }
    .story .detail .quote-right {
      margin-left: 126px;
    }
    .story .detail .quote-left {
      margin-right: 12px;
    }
    /*Literal Quote Marks
    .detail .quote:before {
      content: "\201C";
      font-size: 28px;
      color: "#fff";
      position: relative;
      top: 2px;
      left: -2px;
    }
    .detail .quote:after {
      content: "\201D";
      font-size: 28px;
      color: "#fff";
      position: relative;
      top: 2px;
      left: 2px;
    }*/

.actionable-box {
  display: block;
  cursor: pointer;
}
.actionable-box:hover {
}
.actionable-text {
  color: #333;
}
.actionable-text:hover {
  color: #000;
}
.nav-col {
    float: left;
}
  .nav-col-left {
    margin-left: 35px;
  }
  .nav-col-right {
    float: right;
    margin-right: 60px;
  }
/* Hero/Story Navigation */
.navigation {
  width: 100% !important;
  position: absolute;;
  top: 359px;
  left: 0;
  z-index: 3;
}
.teaser .navigation {
  top: 45%;
  height: 0;
}
  .teaser .navigation .nav-col {
    width: 84px;
    text-align: center;
  }
  .teaser .navigation .nav-col .actionable-box {
    padding: 10px;
  }
  .teaser .navigation .action {
    padding: 6px;
  }
.detail-navigation {
  display: none;
  width: 100%;
  bottom: 0;
  top: auto;
  height: 82px;
  background: url(images/hero_detail_trim.png) 50% 100% no-repeat;
}
  .detail-navigation .go-previous,
  .detail-navigation .go-next {
    text-decoration: none;
    line-height: 30px;
  }
  .detail-navigation .go-previous .arrow,
  .detail-navigation .go-next .arrow {
    display: inline-block;
    width: 98px;
    height: 20px;
    text-align: left;
    text-indent: -9000px;
    overflow: hidden;
    vertical-align: middle;
    background: url(images/sprite_background) 0 0 no-repeat;
  }
  .detail-navigation .go-previous .arrow {
    background-position: 0 0;
    margin-right: 2px;
  }
  .detail-navigation .go-previous:hover .arrow {
    background-position: 0 -30px;
  }
  .detail-navigation .go-next .arrow {
    background-position: 0 -91px;
    margin-left: 8px;
  }
  .detail-navigation .go-next:hover .arrow {
    background-position: 0 -121px;
  }
.item-navigation {
  display: none;
  top: 50%;
  left: 50%;
  margin-left: 181px !important;
  margin-top: -183px !important;
  width: 60px !important;
  z-index: 20;
}
  .item-navigation .story-detail-nav {
    display: block;
    width: 60px;
    height: 60px;
  }

  .item-navigation .nav-item {
    float: left;
    width: 60px;
    height: 60px;
    margin-bottom: 1px;
  }
  .item-navigation .nav-item a {
    opacity: 0.5;
  }
  .item-navigation .nav-item a.active,
  .item-navigation .nav-item a:hover {
    opacity: 1;
  }
  .item-navigation .nav-item a:active,
  .item-navigation .nav-item a:focus {
    box-shadow: 0 0 22px #FFF;
  }
.mode-navigation {
  position: absolute;
  top: 210px;
  left: 710px;
  display: none;
}
  .mode-navigation .story-toggle-mode {
    color: #ccc;
    text-decoration: none;
  }

.slider-detail {
  display: none;
}
  .slider-detail .story .detail {
    display: block;
  }
  .slider-detail .story .background-detail {
    top: 81px;
  }

.detail-navigation {
  display: none;
}

.summary-navigation-left-right {
  display: block;
}
  .summary-navigation-left-right .go-previous,
  .summary-navigation-left-right .go-next {
    display: block;
    width: 105px;
    height: 25px;
    overflow: hidden;
    text-align: left;
    text-indent: -9000px;
    background: url(images/sprite_background.png) 4px 4px no-repeat;
  }
  .summary-navigation-left-right .go-previous:hover {
    background-position: 4px -26px;
  }
  /* TODO: Get a 3rd state from Blaise */
  .summary-navigation-left-right .go-previous:active {
    background-position: 4px -56px;
  }
  .summary-navigation-left-right .go-next {
    background-position: 4px -86px;
  }
  .summary-navigation-left-right .go-next:hover {
    background-position: 4px -116px;
  }
  .summary-navigation-left-right .go-next:active {
    background-position: 4px -146px;
  }

