.filter-modules-navigation {
  width: 100%;
  min-height: 100px;
  height: 162px;
  position: relative;
  margin-bottom: -102px;
  z-index: 1;
  /*
  overflow: visible;
  top: 0;
  left: 0;
  */
}
.filter-modules-sticky {
  width: 100%;
  height: 162px;
  position: relative;
  top: 0;
  left: 0;
  border-top: solid 1px #d4c9c0;
  background: url(images/background_filternav.png) 50% 0 no-repeat;
}
.filter-nav-group {
  position: absolute;
  top: 0;
  right: 0;
  width: 41.5%;
  height: 60px;
  margin: 0;
  padding: 0 !important;
  list-style: none;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
  -moz-box-shadow:    0px 0px 30px rgba(0, 0, 0, 0.65);
  box-shadow:         0px 0px 30px rgba(0, 0, 0, 0.65);
}
  .filter-nav-group .filter-nav-item {
    width: 50%;
    float: left;
    background: url(images/sprite_repeat_horizontal.png) 0 0 repeat-x;
  }
    .filter-nav-group .filter-nav-item .filter-nav-link {
      display: block;
      height: 38px;
      padding: 16px 20px 0;
      font-family: "LeagueGothicRegular";
      font-size: 28px;
      line-height: 28px;
      text-decoration: none;
    }
.filter-nav-group:first-child {
  left: 0;
/*
  float: left;
  margin-right: 10.2%;
  */
}
.filter-button-blue,
.filter-button-green,
.filter-button-gold,
.filter-button-purple {
  border-bottom: solid 6px #93aeca;
  border-right: solid 1px #93aeca;
  background: url(images/sprite_background.png) 100% 0 no-repeat;
}
.filter-button-blue {
  color: #93aeca;
  color: rgb(147, 174, 202);
  border-color: rgb(147, 174, 202);
  border-right-color: rgba(147, 174, 202, 0.7);
  background-position: 100% -400px;
}
.filter-button-blue:hover {
  color: rgb(127, 154, 182);
  border-color: rgb(127, 154, 182);
  background-position: 100% -470px;
}
.filter-button-green {
  color: #68bda0;
  border-color: rgb(104, 189, 160);
  border-right-color: rgba(104, 189, 160, 0.7);
  background-position: 100% -530px;
}
.filter-button-green:hover {
  color: rgb(84, 169, 140);
  border-color: rgb(84, 169, 140);
  background-position: 100% -600px;
}
.filter-button-gold {
  color: rgb(236, 213, 119);
  border-color: rgb(236, 213, 119);
  border-right: none;
  border-left: solid 1px rgba(236, 212, 119, 0.7);
  background-position: 100% -690px;
}
.filter-button-gold:hover {
  color: rgb(216, 193, 99);
  border-color: rgb(216, 193, 99);
  background-position: 100% -770px;
}
.filter-button-purple {
  color: rgb(134, 100, 123);
  border-color: rgb(134, 100, 123);
  border-right: none;
  border-left: solid 1px rgba(134, 100, 123, 0.7);
  background-position: 100% -850px;
}
.filter-button-purple:hover {
  color: rgb(114, 80, 103);
  border-color: rgb(114, 80, 103);
  background-position: 100% -920px;
}

/* Clients Module */
.clients-module {
  position: relative;
  width: 1032px !important;
  padding-top: 25px;
  padding-left: 7px;
  min-height: 688px;
  background: url(images/background_clients.png) 0 0 no-repeat;
}
.clients-header {
  color: #c44c1a;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 24px;
  margin: 0 0 24px;
  padding: 0 18px;
  line-height: 28px;
}
.client-list {
  position: relative;
  left: -4px;
  padding: 8px 0;
  margin: 16px 0;
}
.omega .client-list:first-child {
  margin-top: 0;
}
  .client-category {
    font-family: "LeagueGothicRegular", sans-serif;
    background-color: #d78e6f;
    color: #fff;
    padding: 2px 22px 0;
    font-size: 24px;
    line-height: 30px;
    float: left;
    clear: left;
  }
  .clients-module .omega {
  }
  .clients {
    width: 100%;
    margin: 5px 0;
    clear: left;
    float: left;
  }
    .clients > ul {
      width: 100%;
      list-style: none;
      padding: 0;
      float: left;
      clear: left;
      margin: 12px 0 6px;
    }
      .clients > ul > li {
        padding: 2px 22px;
        font-size: 14px;
        color: #707070;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
      }
      .omega .clients > ul > li {
        padding: 2px 15px;
      }
        .clients .client-sub-title {
          font-family: "LeagueGothicRegular", sans-serif;
          color: #d78e6f;
          font-size: 20px;
          margin: 9px 0 -11px;
          padding: 0 30px;
          clear: left;
          float: left;
        }
      .clients ul + h5 {
      }
      .clients ul > li > ul {
      }
      .clients ul > li > ul > li {
      }
.clients-close {
  position: absolute;
  top: 1px;
  right: 8px;
  width: 81px;
  height: 81px;
  text-indent: -9000px;
  text-align: left;
  background: url(images/sprite_background.png) 0 -1120px no-repeat;
}

/* Contact Module (fits within Clients Module) */
.module-contact {
  position: absolute;
  /*
  bottom: 0;
  */
  width: 407px;
  height: 199px;
  top: 515px;
  right: 7px;
  display: block;
  cursor: pointer;
}
.contact-header {
  font-family: "LeagueGothicRegular", sans-serif;
  color: #aa9e97;
  font-size: 25px;
  padding: 0 24px;
  margin: 16px 0;
}

/* General Module Group */
.module-row {
  position: relative;
  width: 100%;
  height: 540px;
  padding: 0;
  background: rgba(100, 0, 0, 0.18) url(images/sprite_background_modules.png) 50% 0 no-repeat;
}
.module-group {
  width: 1024px;
  margin: 0 auto;
}
.module-title {
  display: block;
  width: 553px;
  height: 193px;
  position: relative;
  top: -19px;
  left: -1px;
  margin: 0;
  padding: 30px 0 0 60px;
  font-weight: normal;
  font-family: "LeagueGothicRegular", sans-serif;
  background: url(images/sprite_modules.png) 0 -372px no-repeat;
}
  .module-title .lead {
    display: block;
    font-size: 52px;
    line-height: 48px;
    padding: 6px 0 0;
  }
  .module-title .abstract {
    display: block;
    color: #867d83;
    font-family: "League Gothic Condensed", "LeagueGothicRegular", sans-serif;
    font-size: 24px;
    line-height: 24px;
  }
.module-blue .module-title {
  color: #93aeca;
  background-position: 0 -672px;
}
.module-green .module-title {
  color: #68bda0;
  background-position: 0 -372px;
}
.module-case-study {
  width: 612px;
  height: 406px;
  margin-right: 5px;
  float: left;
}
.module-supplement {
  float: left;
  width: 406px;
  height: 406px;
  overflow: hidden;
}
  .module-supplement img {
  }
  .module-supplement img:hover {
    margin-left: -406px;
  }
.main_left .module-case-study {
}
.main_left .module-supplement {
}
.module-navigation {
  width: 580px;
  height: 133px;
  margin: 0 auto;
}
  .module-navigation a {
    float: left;
    height: 120px;
  }
  .module-navigation .arrow-right,
  .module-navigation .arrow-left {
    width: 141px;
    height: 60px;
    margin-top: 60px;
    text-indent: -9000px;
    overflow: hidden;
    background: url(images/sprite_modules.png) 32px -126px no-repeat;
  }
  .module-navigation .arrow-right {
    background-position: 32px -126px;
  }
  .module-navigation .arrow-right:hover {
    background-position: 32px -246px;
  }
  .module-navigation .arrow-left {
    background-position: -272px -126px;
  }
  .module-navigation .arrow-left:hover {
    background-position: -272px -246px;
  }
  .module-navigation .arrow-left.go-top {
    background-position: -136px -126px;
  }
  .module-navigation .arrow-left.go-top:hover {
    background-position: -136px -246px;
  }
  .module-navigation .tab {
    width: 296px;
    text-indent: -9000px;
    overflow: hidden;
    background: url(images/sprite_modules.png) 86px 29px no-repeat;
  }
  .module-navigation .tab:hover {
    background-position: -154px 29px;
  }
