.filter-modules-navigation {
  width: 100%;
  min-height: 100px;
  height: 162px;
  position: relative;
  margin-bottom: -102px;
  z-index: 10;
}
.filter-modules-sticky {
  width: 100%;
  height: 162px;
  position: relative;
  top: 0;
  left: 0;
  border-top: solid 1px #d4c9c0;
  background: url(images/background_filternav.png) 50% 0 no-repeat;
}
.filter-nav-group {
  position: absolute;
  top: 0;
  right: 0;
  width: 41.5%;
  height: 60px;
  margin: 0;
  padding: 0 !important;
  list-style: none;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
  -moz-box-shadow:    0px 0px 30px rgba(0, 0, 0, 0.65);
  box-shadow:         0px 0px 30px rgba(0, 0, 0, 0.65);
}
  .filter-nav-group .filter-nav-item {
    width: 50%;
    float: left;
    background: url(images/sprite_repeat_horizontal.png) 0 0 repeat-x;
  }
    .filter-nav-group .filter-nav-item .filter-nav-link {
      display: block;
      height: 38px;
      padding: 16px 20px 0;
      font-family: "LeagueGothicRegular";
      font-size: 28px;
      line-height: 28px;
      text-decoration: none;
    }
.filter-nav-group:first-child {
  left: 0;
/*
  float: left;
  margin-right: 10.2%;
  */
}
.filter-button-blue,
.filter-button-green,
.filter-button-gold,
.filter-button-purple {
  border-bottom: solid 6px #93aeca;
  border-right: solid 1px #93aeca;
  background: url(images/sprite_background.png) 100% 0 no-repeat;
}
.filter-button-blue {
  color: #93aeca;
  color: rgb(147, 174, 202);
  border-color: rgb(147, 174, 202);
  border-right-color: rgba(147, 174, 202, 0.7);
  background-position: 100% -400px;
}
.filter-button-blue:hover {
  color: rgb(127, 154, 182);
  border-color: rgb(127, 154, 182);
  background-position: 100% -470px;
}
.filter-button-green {
  color: #68bda0;
  border-color: rgb(104, 189, 160);
  border-right-color: rgba(104, 189, 160, 0.7);
  background-position: 100% -530px;
}
.filter-button-green:hover {
  color: rgb(84, 169, 140);
  border-color: rgb(84, 169, 140);
  background-position: 100% -600px;
}
.filter-button-gold {
  color: rgb(236, 213, 119);
  border-color: rgb(236, 213, 119);
  border-right: none;
  border-left: solid 1px rgba(236, 212, 119, 0.7);
  background-position: 100% -690px;
}
.filter-button-gold:hover {
  color: rgb(216, 193, 99);
  border-color: rgb(216, 193, 99);
  background-position: 100% -770px;
}
.filter-button-purple {
  color: rgb(134, 100, 123);
  border-color: rgb(134, 100, 123);
  border-right: none;
  border-left: solid 1px rgba(134, 100, 123, 0.7);
  background-position: 100% -850px;
}
.filter-button-purple:hover {
  color: rgb(114, 80, 103);
  border-color: rgb(114, 80, 103);
  background-position: 100% -920px;
}

/* Clients Module */
.clients-module {
  position: relative;
  width: 1032px !important;
  padding-top: 25px;
  padding-left: 7px;
  min-height: 688px;
  background: url(images/background_clients.png) 0 0 no-repeat;
}
.clients-header {
  color: #c44c1a;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 24px;
  margin: 0 0 24px;
  padding: 0 18px;
  line-height: 28px;
}
.client-list {
  position: relative;
  left: -4px;
  padding: 8px 0;
  margin: 16px 0;
}
.omega .client-list:first-child {
  margin-top: 0;
}
  .client-category {
    font-family: "LeagueGothicRegular", sans-serif;
    background-color: #d78e6f;
    color: #fff;
    padding: 2px 22px 0;
    font-size: 24px;
    line-height: 30px;
    float: left;
    clear: left;
  }
  .clients-module .omega {
  }
  .clients {
    width: 100%;
    margin: 5px 0;
    clear: left;
    float: left;
  }
    .clients > ul {
      width: 100%;
      list-style: none;
      padding: 0;
      float: left;
      clear: left;
      margin: 12px 0 6px;
    }
      .clients > ul > li {
        padding: 2px 22px;
        font-size: 14px;
        color: #707070;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
      }
      .omega .clients > ul > li {
        padding: 2px 15px;
      }
        .clients .client-sub-title {
          font-family: "LeagueGothicRegular", sans-serif;
          color: #d78e6f;
          font-size: 20px;
          margin: 9px 0 -11px;
          padding: 0 30px;
          clear: left;
          float: left;
        }
      .clients ul + h5 {
      }
      .clients ul > li > ul {
      }
      .clients ul > li > ul > li {
      }
.clients-close {
  position: absolute;
  top: 1px;
  right: 8px;
  width: 81px;
  height: 81px;
  text-indent: -9000px;
  text-align: left;
  background: url(images/sprite_background.png) 0 -1120px no-repeat;
}

/* Contact Module (fits within Clients Module) */
.module-contact {
  position: absolute;
  /*
  bottom: 0;
  */
  width: 407px;
  height: 199px;
  top: 515px;
  right: 7px;
  display: block;
  cursor: pointer;
}
.contact-header {
  font-family: "LeagueGothicRegular", sans-serif;
  color: #aa9e97;
  font-size: 25px;
  padding: 0 24px;
  margin: 16px 0;
}

/* General Module Group */
.module-row {
  position: relative;
  width: 100%;
  min-height: 538px;
  padding: 0;
}
  .module-group {
    width: 100%;
    padding-bottom: 1px;
    position: relative;
    z-index: 1;
    background: url(images/sprite_background_modules.png) 50% 100% no-repeat;
  }
  .module-fixed-width {
    width: 1025px;
    margin: 0 auto;
  }
    .module {
    }
    .main-module,
    .module-supplement,
    .module-results {
      position: relative;
      top: -18px;
      margin-bottom: -19px;
    }
    .main-left .main-module,
    .main-right .module-supplement,
    .main-right .module-results {
      border-right: solid 1px rgba(198, 198, 198, 0.8);
    }
    .main-right .main-module,
    .main-left .main-supplement,
    .main-left .module-results {
      border-left: solid 1px rgba(198, 198, 198, 0.8);
    }
    .main-left .main-module {
      margin-right: 4px;
    }
    .main-right .main-module {
      margin-left: 4px;
    }
    .module-title {
      display: block;
      width: 553px;
      height: 230px;
      margin: 0;
      position: relative;
      z-index: 2;
      font-weight: normal;
      font-family: "LeagueGothicRegular", sans-serif;
    }
      .module-title .lead {
        display: block;
        font-size: 52px;
        line-height: 48px;
        padding: 6px 0 0;
      }
      .module-title .abstract {
        display: block;
        color: #867d83;
        font-family: "League Gothic Condensed", "LeagueGothicRegular", sans-serif;
        font-size: 24px;
        line-height: 24px;
      }
.module-background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}


/* Case Study Module */
.module-case-study {
  width: 612px;
  height: 406px;
  float: left;
  position: relative;
}
.module-case-study .module-title {
  position: relative;
  z-index: 2;
  top: -19px;
  left: -1px;
  padding: 30px 0 0 60px;
  background: url(images/sprite_module_title_background.png) 0 0 no-repeat;
}
  .module-case-study .module-background {
    width: 612px;
    height: 406px;
  }
    .module-case-study:hover .module-background img {
      margin-left: -612px;
    }


/* Module color theme for Case Study Module */
/* blue */
.module-blue .module-title {
  color: #93aeca;
  background-position: -11px 1px;
}
.module-blue:hover .module-title {
  color: #fff;
  background-position: -11px -299px;
}
.module-blue:hover .module-title .abstract {
  color: #fff;
}
/* green */
.module-green .module-title {
  color: #68bda0;
  background-position: -12px -600px;
}
.module-green:hover .module-title {
  color: #fff;
  background-position: -12px -900px;
}
.module-green:hover .module-title .abstract {
  color: #fff;
}


/* Culture Module */
.module-culture {
  width: 817px;
  height: 497px;
  float: left;
  position: relative;
  border-top: solid 7px #ecd477;
}
.module-culture.minor {
  width: 612px;
}
  .module-culture .module-title {
    color: rgba(170, 158, 151, 0.4);
  }
  .module-culture:hover .module-title {
    color: rgba(229, 213, 206, 0.8);
  }
    .module-culture .module-quote {
      font-size: 40px;
      line-height: 45px;
      margin: 27px 0 0 30px;
    }
    .module-culture .module-quote:before,
    .module-culture .module-quote:after {
      position: relative;
      font-size: 112px;
      line-height: 0;
    }
    .module-culture .module-quote:before {
      content: "\201C";
      top: 54px;
      left: 1px;
    }
    .module-culture .module-quote:after {
      content: "\201D";
      top: 54px;
      left: 1px;
    }
    .module-culture .source {
      float: left;
      height: 30px;
      padding: 0 0 0 81px;
      margin: 8px 26px;
      font-size: 24px;
      line-height: 26px;
      background-color: rgba(0, 0, 0, 0.1);
      background: url(images/sprite_modules.png) 0 -784px no-repeat;
    }
    .module-culture:hover .source {
      background-position: 0 -854px;
    }
      .module-culture .source .arrow {
        display: block;
        padding: 0 50px 0 0;
        background: url(images/sprite_modules.png) 100% -784px no-repeat;
      }
      .module-culture:hover .source .arrow {
        background-position: 100% -854px;
      }
  .module-culture .module-background {
    width: 818px;
    height: 500px;
    overflow: hidden;
  }
  .module-culture.minor .module-background {
    width: 612px;
  }
    .module-culture .module-background img {
      top: -3px;
      position: relative;
    }
    .module-culture:hover .module-background img {
      margin-left: -818px;
    }
    .module-culture.minor:hover .module-background img {
      margin-left: -612px;
    }


/* Supplement for Case Study Module */
.module-supplement {
  float: left;
  width: 406px;
  height: 406px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
  .module-supplement:hover img {
    margin-left: -406px;
  }

/* Results Module */
.module-results {
  float: left;
  width: 200px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: solid 7px #86647b;
}
.module-results.major {
  width: 406px;
  border-right: none;
}
.main-left .module-results.major {
  border-right: none;
}
.main-right .module-results.major {
  border-left: none;
}
  .module-results .data {
    width: 100%;
    height: 456px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
  }
    .module-results .data:hover img {
      margin-left: -200px;
    }
    .module-results.major .data:hover img {
      margin-left: -406px;
    }
  .module-results .source {
    width: 185px;
    height: 27px;
    margin: 5px 0 0;
    padding: 9px 0 0 16px;
    color: #95989c;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 16px;
  }


/* Module Navigation */
.module-navigation {
  width: 100%;
  height: 134px;
  height: 152px;
  position: relative;
  z-index: 1;
  background: url(images/sprite_background_modules.png) 50% 0 no-repeat;
}
.module-navigation:before,
.module-navigation:after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 18px;
  width: 40%;
  background: rgba(255, 0, 0, 0.5) url(images/sprite_modules.png) 0 100% repeat-x;
}
.module-navigation:before {
  left: 0;
}
.module-navigation:after {
  right: 0;
}
  .module-navigation .nav-list {
    width: 580px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .module-navigation a {
    float: left;
    height: 120px;
  }
  .module-navigation .arrow-right,
  .module-navigation .arrow-left {
    width: 141px;
    height: 60px;
    margin-top: 60px;
    text-indent: -9000px;
    overflow: hidden;
    background: url(images/sprite_modules.png) 32px -126px no-repeat;
  }
  .module-navigation .arrow-right {
    background-position: 32px -126px;
  }
  .module-navigation .arrow-right:hover {
    background-position: 32px -246px;
  }
  .module-navigation .arrow-left {
    background-position: -272px -126px;
  }
  .module-navigation .arrow-left:hover {
    background-position: -272px -246px;
  }
  .module-navigation .arrow-left.go-top {
    background-position: -136px -126px;
  }
  .module-navigation .arrow-left.go-top:hover {
    background-position: -136px -246px;
  }
  .module-navigation .tab {
    width: 296px;
    height: 20px;
    padding: 90px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #ac9e92;
    text-decoration: none;
    text-align: center;
    font-family: "deming_epregular", serif;
    background: url(images/sprite_modules.png) 86px 29px no-repeat;
  }
  .module-navigation .tab:hover {
    color: #ac9e92;
    background-position: -154px 29px;
  }
  .module-navigation .tab.logo-bco {
    background-position: 86px 29px;
  }
  .module-navigation .tab.logo-bco:hover {
    background-position: -154px 29px;
  }
  .module-navigation .tab.logo-hickory {
    background-position: -824px -178px;
  }
  .module-navigation .tab.logo-hickory:hover {
    background-position: -824px -608px;
  }
  .module-navigation .tab.logo-maverick {
    background-position: -625px 15px;
  }
  .module-navigation .tab.logo-maverick:hover {
    background-position: -625px -416px;
  }
  .module-navigation .tab.logo-gunslinger {
    background-position: -444px 30px;
  }
  .module-navigation .tab.logo-gunslinger:hover {
    background-position: -444px -400px;
  }
  .module-navigation .tab.logo-yardmaster {
    background-position: -424px -172px;
  }
  .module-navigation .tab.logo-yardmaster:hover {
    background-position: -424px -602px;
  }
  .module-navigation .tab.logo-ramblin {
    background-position: -624px -192px;
  }
  .module-navigation .tab.logo-ramblin:hover {
    background-position: -624px -622px;
  }
  .module-navigation .tab.logo-midnight {
    background-position: -823px 5px;
  }
  .module-navigation .tab.logo-midnight:hover {
    background-position: -823px -425px;
  }
