@font-face {
  font-family: 'silverfakeregular';
  src: url('../fonts/silverfake/silverfake-webfont.eot');
  src: url('../fonts/silverfake/silverfake-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/silverfake/silverfake-webfont.woff') format('woff'),
  url('../fonts/silverfake/silverfake-webfont.ttf') format('truetype'),
  url('../fonts/silverfake/silverfake-webfont.svg#silverfakeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.franklinitcprocondbold {
  font-family: "Franklin ITC Pro Cond Bold";
  font-style: normal;
  font-weight: normal;
}

.franklinitcprocondlight {
  font-family: "Franklin ITC Pro Cond Light";
  font-style: normal;
  font-weight: normal;
}

.franklinitcprocondmed {
  font-family: "Franklin ITC Pro Cond Med";
  font-style: normal;
  font-weight: normal;
}
