@font-face {
  font-family: 'silverfakeregular';
  src: url('../fonts/silverfake/silverfake-webfont.eot');
  src: url('../fonts/silverfake/silverfake-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/silverfake/silverfake-webfont.woff') format('woff'),
  url('../fonts/silverfake/silverfake-webfont.ttf') format('truetype'),
  url('../fonts/silverfake/silverfake-webfont.svg#silverfakeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('../fonts/leagueGothic/League_Gothic-webfont.eot');
  src: url('../fonts/leagueGothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leagueGothic/League_Gothic-webfont.woff') format('woff'),
  url('../fonts/leagueGothic/League_Gothic-webfont.ttf') format('truetype'),
  url('../fonts/leagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-regular-webfont.eot');
  src: url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-regular-webfont.woff') format('woff'),
  url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
  url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-italic-webfont.eot');
  src: url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-italic-webfont.woff') format('woff'),
  url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
  url('../fonts/leagueGothicMoveableType/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
  font-weight: normal;
  font-style: italic;
}
